@import url('https://fonts.googleapis.com/css2?family=Festive&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f7ede2;
  display: flex;
  justify-content: center;
}

.container{
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile{
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.profile figure{
  width: 50vw;
  height: auto;
  margin: 2vh;
  display: flex;
  align-self: center;
}

.btn{
  width: 75%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

button{
  width: 9vw;
  height: 18vh;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #84a59d;
}

.petbtn{
  width: 50%;
  height: auto;
}

img{
  width: 50%;
  height: auto;
  border-radius: 25%;
}